<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #eee8d8;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .profile-container {
            background-color: #f7f7f7;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 800px;
            margin: auto;
        }
        .profile-container h2 {
            text-align: center;
            color: #5c6bc0;
            margin-bottom: 20px;
        }
        .profile-container label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #333;
        }
        .profile-container .field-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }
        .profile-container .field-container input,
        .profile-container .field-container textarea {
            width: 75%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }
        .profile-container .field-container span {
            width: 75%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: #f7f7f7;
        }
        .profile-container .complete-registration {
            margin-top: 20px;
            padding: 20px;
            background-color: #fffbe6;
            border-radius: 8px;
            border: 1px solid #ccc;
        }
        .profile-container .complete-registration h3 {
            text-align: center;
            color: #ff9800;
        }
        .delete-button{
            margin-top: 4%;
        }
    </style>
</head>
<body>
    <div class="profile-container">
        <h2>Perfil do Usuário</h2>
        <div class="field-container">
            <label for="nomecompleto">Nome Completo:</label>
            <span id="nomecompleto">$!{usuario.nome}</span>
        </div>
        <div class="field-container">
            <label for="email">E-mail:</label>
            <span id="email">$!{usuario.email}</span>
        </div>
        <div class="field-container">
            <label for="telefone">Telefone:</label>
            <span id="telefone">$!{usuario.telefone}</span>
        </div>
        <div class="field-container">
            <label for="nome_faculdade">Nome da Faculdade:</label>
            <span id="nome_faculdade">#if($usuario.nome_faculdade) $!{usuario.nome_faculdade} #else *Adicione o nome da faculdade #end</span>
        </div>
        <div class="field-container">
            <label for="descricao">Descrição:</label>
            <span id="descricao">#if($usuario.descricao) $!{usuario.descricao} #else *Adicione uma descrição #end</span>
        </div>
        <div class="field-container">
            <label for="curso">Curso:</label>
            <span id="curso">#if($usuario.curso) $!{usuario.curso} #else *Adicione o nome do curso #end</span>
        </div>
        <div class="field-container">
            <label for="ano_previsto_conclusao">Ano Previsto para Conclusão:</label>
            <span id="ano_previsto_conclusao">#if($usuario.ano_previsto_conclusao) $!{usuario.ano_previsto_conclusao} #else *Adicione o ano previsto para conclusão #end</span>
        </div>

        <div class="complete-registration">
            <h3>Complete ou Edite o Registro</h3>
            <form id="complete-registration-form" action="/completarRegistro" method="post">
                <input type="hidden" id="id" name="id" value="$!{usuario.id}">
                <div class="field-container">
                    <label for="nome_faculdade_input">Nome da Faculdade:</label>
                    <input type="text" id="nome_faculdade_input" name="nome_faculdade" placeholder="Nome da Faculdade" value="$!{usuario.nome_faculdade}">
                </div>
                <div class="field-container">
                    <label for="descricao_input">Descrição:</label>
                    <textarea id="descricao_input" name="descricao" placeholder="Descrição sobre você">$!{usuario.descricao}</textarea>
                </div>
                <div class="field-container">
                    <label for="curso_input">Curso:</label>
                    <input type="text" id="curso_input" name="curso" placeholder="Nome do Curso" value="$!{usuario.curso}">
                </div>
                <div class="field-container">
                    <label for="ano_previsto_conclusao_input">Ano Previsto para Conclusão:</label>
                    <input type="text" id="ano_previsto_conclusao_input" name="ano_previsto_conclusao" placeholder="Ano Previsto para Conclusão" value="$!{usuario.ano_previsto_conclusao}">
                </div>
                <button type="submit">Salvar</button>
            </form>
        </div>

        <form id="delete-user-form" action="/deletarUsuario" method="post">
            <input type="hidden" id="id" name="id" value="$!{usuario.id}">
            <button type="submit" class="delete-button">Deletar Conta</button>
        </form>

    </div>
</body>
</html>
