/* || ARQUIVOS DE CSS || */


@import "usuario.css";


/* || ROOT || */

:root {
    
    /* -- Cores -- */

    --amarelo-marca: #ECD60F;
    --amarelo-borda: #d5c111;
    --branco-puro: #FFFFFF;
    --cinza-borda: #DBDBDB;
    --cinza-claro: #CCCCCC;
    --cinza-claro-fundo: #FAFAFA;
    --cinza-medio: #767676;
    --cinza-escuro-forte: #232426;
    --cinza-escuro-selecao: #131313;
    --vermelho-botao-remover: #e74c3c;
    --vermelho-borda-bota-remover: #e46b65;
    --vermelho-botao-remover-hover: #d2433c;
    --vermelho-link: #750b0b;
    --vermelho-letras: #8e0000;

    /* -- Fontes -- */
    
    --fonte-outfit: 'Outfit', sans-serif;
}

/* || RESET || */

html,
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* || PÁGINA PADRÃO || */

/* || \/\/\/ CABEÇALHO \/\/\/ || */

.navbar,
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-family: var(--fonte-outfit);
}

.cabecalho--logo {
    max-height: 45px;
}

.cabecalho--links-principais {
    margin-right: 20px;
}

.cabecalho--links-principais a,
.cabecalho--links-usuario a {
    color: var(--branco-puro);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    width: 95px;
}

.cabecalho--links-principais a:hover,
.cabecalho--links-principais a:focus,
.cabecalho--links-usuario a:hover,
.cabecalho--links-usuario a:focus {
    color: var(--branco-puro);
    background-color: var(--cinza-escuro-selecao);
}

.barra--pesquisa {
    margin-right: 15px;
}

.barra--pesquisa input {
    background-image: url(imgs/search.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 9px;
    background-position-y: 9px;
    background-color: var(--cinza-escuro-forte);
    border-color: var(--cinza-medio);
    border-radius: 1em;
    color: var(--cinza-medio);
    height: 35px;
    padding-left: 30px;
    transition: width 1s;
    width: 180px;
}

.barra--pesquisa input:focus {
    background-color: var(--cinza-escuro-forte);
    border-color: var(--amarelo-marca);
    box-shadow: none;
    outline-color: var(--amarelo-marca);
    outline-style: solid;
    outline-width: medium;
    color: var(--branco-puro);
    width: 300px;
}

.links-usuario--profile {
    margin-right: 10px;
}

.fa-user,
.fa-arrow-right-to-bracket {
    margin-right: 10px;
}


/* || /\/\/\ CABEÇALHO /\/\/\ || */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* || \/\/\/ CORPO \/\/\/ || */

main {
    min-height: calc(100vh - 60px);
}

/* || /\/\/\ CORPO /\/\/\ || */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* || \/\/\/ PAINEL LATERAL \/\/\/ || */



.offcanvas-header {
    border-bottom: 1px solid var(--cinza-medio);
    min-height: 70px;
    max-height: 70px;
}

.offcanvas-body--campo-pesquisa {
    background-image: url(imgs/search.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 9px;
    background-position-y: 9px;
    border: 1px solid var(--cinza-medio);
    border-radius: 1em;
    color: var(--cinza-medio);
    height: 35px;
    padding-left: 30px;
    width: 100%;
}

.offcanvas-body--campo-pesquisa:focus {
    box-shadow: none;
    outline-color: var(--cinza-escuro-forte);
    outline-style: solid;
    outline-width: medium;
}

.offcanvas-body--campo-amigos {
    margin-top: 20px;
}








#btnAmigos {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
}

/* || /\/\/\ PAINEL LATERAL /\/\/\ || */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* || \/\/\/ RODAPÉ \/\/\/ || */

.rodape {
    color: var(--cinza-medio);
    font-size: 14px;
    padding-top: 20px;
    font-family: var(--fonte-outfit);
    font-weight: 300;
}

.rodape--logo {
    width: 100%;
}

.rodape--linha-dois {
    margin-top: 15px;
}

.rodape--linha-dois-titulo {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0.25em;
    text-transform: uppercase;
}

.rodape--coluna-sobre {
    padding-right: 20px;
}

.rodape--linha-dois-lista,
.rodape--linha-dois-lista a {
    color: var(--cinza-medio);
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}

.rodape--linha-dois-lista a:hover {
    color: var(--branco-puro);
}

.rodape--coluna-contato a {
    color: var(--cinza-medio);
    margin-right: 10px;
}

.rodape--coluna-contato a:hover {
    color: var(--branco-puro);
}

.rodape--coluna-contato--redes-sociais {
    margin-top: 10px;
}

.rodape--linha-tres {
    border-top: 1px solid var(--cinza-medio);
    font-size: 12px;
    text-align: center;
}

.rodape--linha-tres-copyright {
    padding-top: 10px;
}

/* || /\/\/\ RODAPÉ /\/\/\ || */